@model modelo.Models.Local.Contrato
@{
    ViewBag.Title = "Registrar Contrato Leasing";
    Layout = "~/Views/Shared/_Popup.cshtml";
    var tipoContrato = (ViewBag.IdTipoContrato == (int)tesoreria.Helper.TipoContrato.Leasing) ? "Leasing" : "de Crédito";

    var montoContrato = ViewBag.MontoContrato;
    var sumaActivo = ViewBag.SumaActivo;
    var sumaAmortizacion = ViewBag.SumaAmortizacion;
}

<div class="alert alert-success">
    <h5><i class="icon fas fa-cloud"></i>Documentos Contrato @tipoContrato</h5>
    Aquí puede adjuntar los documentos del contrato.
</div>
@if (ViewData["puedeActivar"] == "S")
{
    <nav class="navbar navbar-light mb-1" style="background-color: #e3f2fd;">
        <div class="form-inline my-2 my-lg-0">

        </div>
        <div class="form-inline my-2 my-lg-0">
            <button type="button" onclick="ConfirmaActivar()" name="btnCrear" id="btnCrear" class="btn btn-success btn-sm float-right">Activar Contrato</button>
        </div>
    </nav>
}
<div class="card card-outline card-info">
        <div class="card-header">
            <h3 class="card-title">Cargar Documentos</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
    <div class="card-body">
        <form name="frmUpload" id="frmUpload" method="post" enctype="multipart/form-data">
        <input type="hidden" name="idContrato" id="idContrato" value="@Model.IdContrato" />
            <div class="card-body pb-0">
                <div class="form-group form-group-sm row">
                    <label for="Alias" class="col-sm-2 col-form-label col-form-label-sm">Tipo Documento</label>
                    <div class="col-auto col-form-label">
                        <select name="idTipoDocumento" id="idTipoDocumento" class="form-control form-control-sm required">
                            <option value="">--Seleccione Tipo Documento --</option>
                            @{
                                foreach (var t in ViewData["listaTipoDocumento"] as List<modelo.ViewModel.RetornoGenerico>)
                                {
                                    <text>
                                        <option value="@t.Id">
                                            @t.Nombre
                                        </option>
                                    </text>
                                }
                            }
                    </select>
                </div>
                <label for="Alias" class="col-sm-2 col-form-label col-form-label-sm">Documento [.xls,.xlsx,.pdf]</label>
                <div class="col-auto col-form-label">
                    <input type="file" class="form-control form-control-sm" name="archivo" id="archivo" placeholder="archivo" accept=".xls,.xlsx,.pdf" />
                </div>
                <div class="col-sm-auto col-form-label">
                    <button type="button" class="btn btn-primary btn-sm fileinput-button" id="btnUpload" onclick="Upload()"><i class="fa fa-upload"></i> Cargar Documento</button>
                </div>
                </div>
                
            </div>
        </form>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-sm" id="grillaDocumento" width="100%">
                <thead>
                    <tr>
                        <th>Tipo Documento</th>
                        <th>Nombre</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody id="tbody"></tbody>
            </table>
        </div>
    </div>
</div>


<div class="card-footer">

    @if (ViewData["puedeActivar"] == "S")
    {
        <button type="button" onclick="ConfirmaActivar()" name="btnCrear" id="btnCrear" class="btn btn-success btn-sm float-right">Activar Contrato</button>
    }
</div>

<div class="modal fade" id="ConfirmActivar" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirmación Activación Contrato</h4>
            </div>
            <div class="modal-body">
                @using (Ajax.BeginForm("ActivarContrato", "Contrato", new AjaxOptions
                {
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "post",
                    OnSuccess = "Success_dl",
                    OnFailure = "Failure_dl"

                }, new { id = "frmActivar", @class = "form-horizontal" }))
                {
                    var descRequired = (Model.IdTipoFinanciamiento == (int)tesoreria.Helper.TipoFinanciamiento.EstructuradoConGarantia) ? "required" : "";
                    <input type="hidden" name="idContrato" id="idContratoModal" />
                    <div class="form-group row">
                        <label for="descripcion" class="col-sm-2 col-form-label">Descripción</label>
                        <div class="col-sm-10">
                            <textarea class="form-control @descRequired" name="descripcion" id="descripcionActivar" rows="1">@Model.Descripcion</textarea>
                        </div>
                    </div>
                    <div>
                    @{
                        var montoValido = "S";
                        if (sumaActivo != montoContrato)
                        {
                            montoValido = "N";
                            <div class="alert alert-warning">
                                <h5><i class="icon fas fa-exclamation-triangle"></i></h5>
                                La suma de los valores de los activos <b>@(String.Format("{0:N0}", @sumaActivo))</b> <br />
                                es distinto del monto del contrato <b>@(String.Format("{0:N0}", @montoContrato))</b><br />
                                debe corregir esta situación para poder activar el contrato
                            </div>
                        }
                        @*else
                    {
                        <div class="alert alert-success">
                            <h5><i class="icon fas fa-check-circle"></i></h5>
                            La suma de los valores de los activos <b>@(String.Format("{0:N0}", @sumaActivo))</b> <br />
                            es igual al monto del contrato <b>@(String.Format("{0:N0}", @montoContrato))</b>
                        </div>
                    }*@
                        if (sumaAmortizacion != montoContrato)
                        {
                            montoValido = "N";
                            <div class="alert alert-warning">
                                <h5><i class="icon fas fa-exclamation-triangle"></i></h5>
                                La suma de las cuotas de la amortización <b>@(String.Format("{0:N0}", sumaAmortizacion))</b><br />
                                es distinto del monto del contrato <b>@(String.Format("{0:N0}", montoContrato))</b><br />
                                debe corregir esta situación para poder activar el contrato
                            </div>
                        }
                        @*else
                    {
                    <div class="alert alert-success">
                        <h5><i class="icon fas fa-check-circle"></i></h5>
                        La suma de las cuotas de la amortización <b>@(String.Format("{0:N0}", sumaAmortizacion))</b><br />
                        es igual al monto del contrato <b>@(String.Format("{0:N0}", montoContrato))</b>
                    </div>
                    }*@
                        if (montoValido == "S")
                        {
                            <label>¿Está seguro de activar el CONTRATO seleccionado?</label>
                        }
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success btn-ok" id="btnAceptaActivar">Acepto</button>
                    <a class="btn btn-danger" data-dismiss="modal">
                        No Acepto
                    </a>
                    @*@if (montoValido == "S")
                {
                    <button type="button" class="btn btn-success btn-ok" id="btnAceptaActivar">Acepto</button>
                    <a class="btn btn-danger" data-dismiss="modal">
                        No Acepto
                    </a>
                }
                else
                {
                    <a class="btn btn-default" data-dismiss="modal">Cerrar</a>
                }*@

                </div>
            }


            </div>
    </div>
</div>
</div>
<form name="frmContratoAcc" id="frmContratoAcc" method="post">
    <input type="hidden" name="idContrato" id="idContratoAcc" />
    
</form>

<script>
    $(document).ready(function () {
        $('#frmActivar').validate({
            debug: false,
            errorElement: "em",
            errorContainer: $("#warning"),
            rules: {
                idTipoDocumento: { required: true }
            }
        });
        archivosTable()

    });

    function Upload() {
        if ($('#frmUpload').valid()) {

            var input = document.getElementById('archivo');
            var filePath = input.value;
            var file = input.files[0];
            var valido = true;
            var allowedExtensions = /(.xls|.xlsx|.pdf)$/i;
            if (file) {
                if (file.size > 4000000) {
                    alert('El archivo no debe superar los 4MB');
                    valido = false;
                }
                else if (!allowedExtensions.exec(filePath)) {
                    alert('Solo se permite archivos con extensión: ' + allowedExtensions);
                    valido = false;
                }
            }
            if (valido) {
                var frm = $('#frmUpload').get(0);
                var data = new FormData(frm);
                $.ajax({
                    type: 'POST',
                    url: '/Contrato/GrabarContratoDocumento',
                    data: data,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        Success(data);
                    },
                    failure: function (data) {
                        Failure(data);
                    }
                })
            }
        }
    }

    function Success(data) {
        if (data.Estado == "0") {
            toastr.success(data.Mensaje);
            RefreshListaArchivo();
        }
        else {
            toastr.error(data.Mensaje);
        }
    }

    function Failure(data) {
        //esconderCargando();
        toastr.error(data.Mensaje);
    }

    function archivosTable() {
        var table = $('#grillaDocumento').DataTable({
            //"dom": '',
            buttons: [],
            "retrieve": true,
            'ajax': {
                "type": "POST",
                "url": '/Contrato/ListaContratoDocumento_Read/',
                "data": function (d) {
                    d.idContrato = $("#idContrato").val();
                },
                "dataSrc": ""
            },
            columns: [
                { "data": "NombreTipoDocumento" },
                {
                    "mData": null,
                    "bSortable": true,
                    "mRender": function (o, type, row) {
                        var acciones = '';
                        acciones += '<a href="JavaScript:Descargar(' + "'" + o.UrlDocumento + "'" + ')" class="btn-link linkArchivo text-sm"><i class="fa fa-file-download"></i> ' + o.NombreOriginal + '</a>';
                        return acciones;
                    }
                },
                {
                    "mData": null,
                    "bSortable": false,
                    className:"text-center align-middle",
                    "mRender": function (o, type, row) {
                        var acciones = '';
                        acciones += '<button class="btn btn-danger btn-xs" type="button" onclick="EliminarArchivo(' + o.IdContratoDocumento + ');" title="Eliminar"><i class="far fa-trash-alt"></i></button>';
                        return acciones;
                    }
                }
            ]
        });

        return table;
    }

    function Descargar(urlArchivo) {
        location.href = "/Licitacion/Descargar?rutaArchivo=" + urlArchivo;
    }

    function EliminarArchivo(idContratoDocumento, idContrato) {
        a = confirm("Seguro de Eliminar el registro seleccionado?")
        if (a) {
            $.ajax({
                url: "/Contrato/DeleteContratoDocumento",
                type: "Post",
                data: {
                    idContratoDocumento: idContratoDocumento
                },
                //contentType: false,
                //processData: false,
                success: function (data) {
                    Success(data);
                },
                failure: function (data) {
                    Failure(data);
                }
            });
        }
    }

    function ConfirmaActivar() {
        $("#idContratoModal").val($("#idContrato").val())
        $('#ConfirmActivar').modal('show');
    }

    $('#btnAceptaActivar').click(function () {
        if ($("#frmActivar").valid()) {
            $.ajax({
                type: 'POST',
                url: '/Contrato/ActivarContrato/',
                data: $("#frmActivar").serialize(),
                //data: { idContrato: $("#idContratoModal").val() },
                success: function (data) {
                    if (data.Estado == 0) {
                        RefreshActivar();
                    }
                    else {
                        toastr.error(data.Mensaje);
                    }
                },
                failure: function (data) {
                    Failure(data);
                }
            })
        }
        
    });

    function RefreshListaArchivo() {
        var table = archivosTable();
        table.ajax.reload(function (json) { });
    }

    function RefreshActivar() {
        //$('#idContratoAcc').val($("#idContrato").val());
        $("#frmContratoAcc").attr("action", "@ViewData["urlRetorno"]");
        $("#frmContratoAcc").submit();
    }

</script>

