@model modelo.ViewModel.ContratoViewModel
@{
    ViewBag.Title = "Vista Contrato";
    Layout = "~/Views/Shared/_Popup.cshtml";
}

@{
    var habilitaTab = "";
    if (Model.ExisteContrato == "N")
    {
        habilitaTab = " disabled ";
    }
}
<div class="modal-header">
    <h5 class="modal-title" id="addParcela">@ViewBag.Title</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<input type="hidden" name="idContrato" id="idContrato" value="@Model.IdContrato" />
<div class="card-body">
    <div class="card card-primary card-outline card-outline-tabs">
        <div class="card-header p-0 border-bottom-0">
            <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link nav-link-contrato active" id="header1" data-toggle="pill" href="#" onclick="CargaTab('tab1',1)" role="tab" aria-controls="custom-tabs-four-home" aria-selected="true">Datos</a>
                </li>
                @if (Model.IdTipoContrato == (int)tesoreria.Helper.TipoContrato.Leasing)
                {
                    <li class="nav-item">
                        <a class="nav-link nav-link-contrato @habilitaTab" id="header2" data-toggle="pill" href="#" onclick="CargaTab('tab2',2)" role="tab" aria-controls="custom-tabs-four-pago" aria-selected="false">Amortización</a>
                    </li>
                }
                <li class="nav-item">
                    <a class="nav-link nav-link-contrato @habilitaTab" id="header3" data-toggle="pill" href="#" onclick="CargaTab('tab3',3)" role="tab" aria-controls="custom-tabs-four-doc" aria-selected="false">Documentos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-contrato @habilitaTab" id="header4" data-toggle="pill" href="#" onclick="CargaTab('tab4',4)" role="tab" aria-controls="custom-tabs-four-doc" aria-selected="false">Log de Cambios</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content" id="custom-tabs-four-tabContent">
                <div class="tab-pane fade show active" id="tab1" role="tabpanel">
                </div>
                <div class="tab-pane fade" id="tab2" role="tabpanel">
                </div>
                <div class="tab-pane fade" id="tab3" role="tabpanel">
                </div>
                <div class="tab-pane fade" id="tab4" role="tabpanel">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cerrar</button>
</div>



<script>
    $(document).ready(function () {
        AbrirMenu("RegistrarContrato");
        $('.tab-pane').removeClass("show").removeClass("active");
        CargaTab('tab1', '1')

    });
    function CargaTab(div, op) {
        $('.tab-pane').removeClass("show").removeClass("active");
        $('.nav-link-contrato').removeClass("active");
        $("#tab1").empty();
        $("#tab2").empty();
        $("#tab3").empty();
        $("#tab4").empty();
        $("#header" + op).addClass("active");
        url = "";
        if (op == 1) {
            url = 'VistaContrato';
            $("#tab1").addClass("show").addClass("active");
        }
        if (op == 2) {
            url = 'AddAmortizacion';
            $("#tab2").addClass("show").addClass("active");
        }
        if (op == 3) {
            url = 'VistaDocumento';
            $("#tab3").addClass("show").addClass("active");
        }
        if (op == 4) {
            url = 'VistaLog';
            $("#tab4").addClass("show").addClass("active");
        }

        $.ajax({
            url: '/Contrato/' + url,
            data: { idContrato: $("#idContrato").val() },
            async: true,
            contentType: "application/x-www-form-urlencoded",
            dataType: "html",
            global: true,
            ifModified: false,
            processData: true,
            //data: { idDocumento: op },
            //data: ReemplazoCadena(aux_busqueda),
            beforeSend: function () {
                $("#" + div).empty();
                $("#" + div).html('<i class="fa fa-circle-o-notch fa-spin"></i> Cargando...');
            },
            success: function (html) {
                //html=decodeURIComponent(html);

                $("#" + div).empty(),
                    $("#" + div).append(html);
            },
            type: "post"
        });
    }

</script>