@{
    ViewBag.Title = "Reporte Arriendo";
    Layout = "~/Views/Shared/_Popup.cshtml";
    var listCobroArriendo = ViewData["listCobroArriendo"] as List<modelo.ViewModel.CobroArriendoViewModel>;
    var resumenZona = ViewData["resumenZona"] as List<modelo.ViewModel.CobroArriendoViewModel>;
    var cobroDistribuidoZona = ViewData["cobroDistribuidoZona"] as List<modelo.ViewModel.CobroArriendoViewModel>;
    double? sumMtoVenta = 0;
    double? sumPorcVenta = 0;
    double? sumCobDiasArriendo = 0;
    double? sumCobroDiasDispTall = 0;
}
<div class="card">
    <div class="card-header bg-azulmarca text-white">
        <h3 class="card-title">DETALLE</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover dataTable dtr-inline" width="100%" id="grillaDetalle" data-order='[[ 1, "desc" ]]'>
                <thead class="table-info">
                    <tr>
                        <th>Nro. Equipo</th>
                        <th>Sucursal</th>
                        <th>Desc. Familia</th>
                        <th>Grupo Tarifario</th>
                        <th>CC Maqsur Maquinarias</th>
                        <th>Año del Activo</th>
                        <th>Estado</th>
                        <th>Días en Arriendo</th>
                        <th>Dias en Disponible</th>
                        <th>Dias en Taller</th>
                        <th>Tarifa en UF</th>
                        <th>Tarifa en CLP</th>
                        <th>Propiedad del bien</th>
                        <th>Depreciación</th>
                        <th>Tarifa en CLP a aplicar</th>
                        <th>Cobro días en arriendo</th>
                        <th>Cobro días disponible</th>
                        <th>Cobro días en taller</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ca in listCobroArriendo) {
                        <tr>
                            <td>@ca.NroEquipo</td>
                            <td>@ca.DesArn</td>
                            <td>@ca.DescripcionFamilia</td>
                            <td>@ca.GrupoTarifario</td>
                            <td>@ca.DescCC_MqsSur</td>
                            <td>@ca.Anio</td>
                            <td>@ca.EstadoActivo</td>
                            <td>@ca.DiasArriendo</td>
                            <td>@ca.DiasDisponible</td>
                            <td>@ca.DiasTaller</td>
                            <td>@ca.TarifaUF</td>
                            <td>@ca.TarifaCLP</td>
                            <td>@ca.Propiedad</td>
                            <td>@(String.Format("{0:N0}", ca.DepreciacionDouble))</td>
                            <td>@(String.Format("{0:N0}", ca.TarifaCLP_Aplicar))</td>
                            <td>@(String.Format("{0:N0}", ca.Cobro_DiasArriendo))</td>
                            <td>@(String.Format("{0:N0}", ca.Cobro_DiasDisponible))</td>
                            <td>@(String.Format("{0:N0}", ca.Cobro_DiasTaller))</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr class="table-secondary">
                        <th colspan="10">Total</th>
                        <th></th>
                        <th colspan="2"></th>
                        <th></th>
                        <th colspan="4"></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header bg-azulmarca text-white">
        <h3 class="card-title">RESUMEN POR ZONA</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover dataTable dtr-inline" width="100%" id="grillaEmpresa" data-order='[[ 1, "desc" ]]'>
                        <thead class="table-info">
                            <tr>
                                <th>Zona</th>
                                <th>Monto Venta</th>
                                <th>dist %</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var rz in resumenZona)
                            {
                                sumMtoVenta = sumMtoVenta + rz.MontoVenta;
                                sumPorcVenta = sumPorcVenta + rz.PorcentajeVenta;
                                <tr>
                                    <td>@rz.DesArn</td>
                                    <td>@(String.Format("{0:N0}", rz.MontoVenta))</td>
                                    <td>@(String.Format("{0:N4}", rz.PorcentajeVenta))</td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr class="table-secondary">
                                <th>Total</th>
                                <th>@(String.Format("{0:N0}", sumMtoVenta))</th>
                                <th>@(String.Format("{0:N2}", (Math.Round((double)sumPorcVenta, 2))))</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row" style="display: block; position: relative; width: 100%;">
                    <div id="chartEmpresa" style="height: 400px;background-color: transparent;" data-highcharts-chart="15">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header bg-azulmarca text-white">
        <h3 class="card-title">Cobro distribuido</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover dataTable dtr-inline" width="100%" id="grillaProveedor" data-order='[[ 1, "desc" ]]'>
                        <thead class="table-info">
                            <tr>
                                <th>Zona</th>
                                <th>Cobro días en arriendo</th>
                                <th>Cobro en días disponible + Taller</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var rz in cobroDistribuidoZona)
                            {
                                sumCobDiasArriendo = sumCobDiasArriendo + rz.Cobro_DiasArriendo;
                                sumCobroDiasDispTall = sumCobroDiasDispTall + (rz.Cobro_DiasDisponible + rz.Cobro_DiasTaller);
                                <tr>
                                    <td>@rz.DesArn</td>
                                    <td>@(String.Format("{0:N0}", rz.Cobro_DiasArriendo))</td>
                                    <td>@(String.Format("{0:N0}", (rz.Cobro_DiasDisponible + rz.Cobro_DiasTaller)))</td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr class="table-secondary">
                                <th>Total</th>
                                <th>@(String.Format("{0:N0}", sumCobDiasArriendo))</th>
                                <th>@(String.Format("{0:N0}", sumCobroDiasDispTall))</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row" style="display: block; position: relative; width: 100%;">
                    <div id="chartProveedor" style="height: 400px;background-color: transparent;" data-highcharts-chart="15">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-auto row">
    <div class="form-group col-12">
        <label for="btnGenerar" class="invisible">Cerrar Mes</label>
        <button class="btn btn-info btn-sm form-control form-control-sm" id="btnGenerar" name="btnGenerar" type="button" onclick="CargaReporteArriendo()"><i class="fa fa-cog"></i> Generar</button>
    </div>
</div>
<div class="modal fade" id="modal-comprobante" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div id="datosComprobante"></div>
        </div>
    </div>
</div>
<script>
    function chartData(table, columna) {
        var series = {};
        var valores = {};
        // Count the number of entries for each position
        table.column(0, { search: 'applied' })
            .data()
            .each(function (val, row) {
                series[row] = val;
            });
        table.column(columna, { search: 'applied' })
            .data()
            .each(function (val, row) {
                valores[row] = val;
            });
        //console.log(series)
        // And map it to the format highcharts uses
        return $.map(series, function (val, key) {
            return {
                name: val,
                y: valores[key],
            };
        });
    }
    function CargaChartEmpresa(table) {
        table = $('#grillaEmpresa').DataTable();
        // Create the chart with initial data
        //var container = $('<div/>').insertBefore(table.table().container());
        //console.log(chartData(table))
        var chart = Highcharts.chart('chartEmpresa', {
            chart: {
                type: 'pie',
            },
            title: {
                text: 'Participación Empresa',
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.2f}%</b> <br> {point.y}'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.2f} %',
                        distance: 20,
                        filter: {
                            property: 'percentage',
                            operator: '>',
                            value: 1
                        }
                    }
                }
            },
            series: [
                {
                    name: "Deuda",
                    data: chartData(table, 1)
                },
            ],
        });

        //// On each draw, update the data in the chart
        //table.on('draw', function () {
        //    chart.series[0].setData(chartData(table));
        //});
    }

    $(document).ready(function () {
        var buttonTipoDeuda = {
            text: 'Exportar a Excel',
            title: 'Detalle',
            extend: 'excelHtml5',
            //footer: true,
            exportOptions: {
                columns: "thead th:not(.noExport)",
                format: {
                    body: function (data, row, column, node) {
                        var texto = node.innerText;
                        return (column >= 1) ?
                            texto.replace(/[$.]/g, '').replace(/[$,]/g, '.') :
                            texto;
                    }
                }
            }
        };
        var tableTD = $("#grillaDetalle").DataTable({
            "retrieve": true,
            "searching": false,
            "paging": false,
            dom: '<"top"fB<"#id">>rt<"bottom"lp><"clear">',
            buttons: [
                $.extend(true, {}, buttonTipoDeuda, {
                    filename: "Detalle"
                })
            ]
        });
        tableTD.on('draw', function () { });
    });
</script>

