@{
    ViewBag.Title = "Reporte";
    var menuAcceso = "CobroArriendo";
}
@{
    tesoreria.Helper.Seguridad seguridad = System.Web.HttpContext.Current.Session["Seguridad"] as tesoreria.Helper.Seguridad;
}
<style>
    .form-group.row {
        margin-bottom: 2px;
    }
</style>

<div class="d-sm-flex align-items-center justify-content-between">
    <h5 class="h5 mb-0 text-gray-800">Reporte Arriendos</h5>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Home/Inicio">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Inicio</li>
    </ol>
</div>
<div class="card card-outline card-info">
    <div class="card-header">
        <h3 class="card-title">Generador reporte Arriendo Máquinas</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>   
    <div class="card-body">
        <form name="frmBusqueda" id="frmBusqueda" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="anioBus">Año</label>
                        <input type="text" name="anioBus" id="anioBus" value="@DateTime.Now.Year" class="form-control form-control-sm filtroRepote" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="IdMes">Mes</label>
                        @Html.DropDownList("IdMes", ViewData["listaMes"] as SelectList, new { @class = "form-control form-control-sm" })

                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="DiasMes">Dias del Mes</label>
                        @Html.TextBox("TotalDiasMes", null, new { @class = "form-control form-control-sm", @readonly = "readonly" })
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="codSoftland" class="text-center">Valor del Cambio</label>
                        <div class="col-sm-auto">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">UF</span>
                                </div>
                                <input type="text" class="form-control form-control-sm numberMiles" placeholder="Valor UF" id="valorUfBus" name="valorUf" value="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="DiasMes">Archivo de Captura</label>
                        <input type="file" name="ArchivoCaptura" id="ArchivoCaptura" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="DiasMes">&nbsp;</label>
                        <table class="table table-bordered table-hover dataTable dtr-inline table-sm" width="100%" id="grillaEjemplo" data-order='[[ 1, "asc" ]]'>
                            <thead class="thead-light">

                                <tr>
                                    <th>NroEquipo</th>
                                    <th>Sucursal</th>
                                    <th>DiasArriendo</th>
                                    <th>DiasDisponible</th>
                                    <th>DiasTaller</th>
                                    <th>Depreciacion</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mx-auto">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Registrar ventas por sucursal en el mes a cobrar</h3>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <div class="row">
                                        <label class="col-sm-3 col-form-label text-left" for="selectArea">Área</label>
                                        <label class="col-sm-3 col-form-label text-left" for="selectValor">Venta Mensual</label>
                                       @* <label class="col-sm-3 col-form-label text-left" for="selectPorcentaje">Porcentaje Distribución</label>*@
                                    </div>
                                    @foreach (var area in (SelectList)ViewData["listaArea"])
                                    {
                                        <div class="form-group row">
                                            <div class="col-sm-3">
                                                <label class="col-form-label">@area.Value : @area.Text</label>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="input-group input-group-sm">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">$</span>
                                                    </div>
                                                    <input type="text" name="valor_@(area.Value)" id="valor_@(area.Value)" class="form-control text-left numberMiles" />
                                                </div>
                                            </div>
                                            @*<div class="col-sm-3">
                                                <div class="input-group input-group-sm">
                                                    <input type="text" name="porcentaje_@(area.Value)" class="form-control text-left" />
                                                    <div class="input-group-append">
                                                        <span class="input-group-text">%</span>
                                                    </div>
                                                </div>
                                            </div>*@
                                        </div>
                                    }
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label text-right">Total:</label>
                                        <div class="col-sm-3">
                                            <input type="text" id="total" class="form-control form-control-sm text-left" readonly />
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>
        

        <div class="col-sm-auto row">
            <div class="form-group col-12">
                <label for="btnGenerar" class="invisible">Generar</label>
                <button class="btn btn-info btn-sm form-control form-control-sm" id="btnGenerar" name="btnGenerar" type="button" onclick="CargaReporteArriendo()"><i class="fa fa-cog"></i> Generar</button>
            </div>
        </div>

    </div>
</div>
<div class="card">

    <div class="card-body">
        <label class="col-lg-12 col-form-label"><strong class="lblEmpresa">Generar Detalle</strong></label>
        <div id="divLoadStockZona">

        </div>
    </div>
</div>
<script>
    $(function () {
        // Obtenemos todos los inputs de valores
        var valores = $("input[name^='valor_']");
        // Agregamos un listener para que se actualice el total cada vez que se ingrese un valor
        valores.on("input", function () {
            var total = 0;
            valores.each(function () {
                var valor = $(this).val().replace(/[$.]/g, '').replace(/[$,]/g, '.');
                if (valor) {
                    total += parseFloat(valor);
                }
            });
            total = total.toFixed(2).toString().replace(/[$.]/g, ',')
            $("#total").val(SeparadorMilesInput(total));
        });
    });
</script>
<script>
    function CargaUfMes() {
        $.ajax({
            url: "/Bancos/UfUltimoDiaMes",
            type: "Get",
            data: {
                anio: $("#anioBus").val(),
                IdMes: $("#IdMes").val()
            },
            beforeSend: function () {

            },
            success: function (data) {
                //console.log(data)
                $("#valorUfBus").val(data.Valor.toString().replace(/[$.]/g, ','));
                $(".numberMiles").each(function () {
                    $(this).val(SeparadorMilesInput($(this).val().toString()))
                });
            }
        });
    }
    $(document).ready(function () {
        AbrirMenu("@menuAcceso");
        $('#IdEmpresaBusqueda').select2({
            theme: 'bootstrap4',
            placeholder: '--Seleccione Empresa--',
            language: "es"
        });
        //CargaZonasBodega();
        //CargaConsolidadoStock(0);
        //$('.lblEmpresa').html($("#IdEmpresaBus option:selected").text())
        //$('.lblPeriodo').html($("#DesGrupo option:selected").text() + "-" + $("#anioBus").val())

        moment.locale('es');
        CargaUfMes();
        ActualizarTotalDias();
        $("#IdMes").change(function () {
            CargaUfMes();
            ActualizarTotalDias();
        });
        $(".numberMiles").each(function () {
            $(this).val(SeparadorMilesInput($(this).val().toString()))
        });
        $('#grillaEjemplo').DataTable({
            searching: false,
            dom: "tB",
            buttons: [
                {
                    text: 'Descargar Formato',
                    extend: 'excelHtml5',
                    filename: "FormatoCobroArriendos",
                    title: ''
                }
            ]

        });
        $("#grillaEjemplo").hide();
    });

    function CargaReporteArriendo() {
        var frm = $('#frmBusqueda').get(0);
        var data = new FormData(frm);
        $.ajax({
            url: '/Activo/AjaxReporteArriendo',
            async: true,
            data: data,
            contentType: false,
            processData: false,
            beforeSend: function () {
                $('.lblEmpresa').html('')
                $('.lblPeriodo').html('')
                $("#divLoadStockZona").empty();
                $("#divLoadStockZona").html('<i class="fa fa-circle-o-notch fa-spin"></i> Cargando...');
            },
            success: function (html) {
                $('.lblEmpresa').html()
                $('.lblPeriodo').html($("#DesGrupo option:selected").text() + "-" + $("#anioBus").val())
                //html=decodeURIComponent(html);
                $("#divLoadStockZona").empty();
                $("#divLoadStockZona").append(html);
            },
            type: "post"
        });
    }
    function ActualizarTotalDias() {
        // Obtener el valor seleccionado del select de los meses
        var mesSeleccionado = document.getElementById("IdMes").value;

        // Hacer una llamada Ajax al controlador para obtener el total de días del mes seleccionado
        $.ajax({
            type: "GET",
            url: "@Url.Action("ObtenerTotalDiasMes", "Activo")",
            data: { idMes: mesSeleccionado },
            success: function (totalDias) {
                // Actualizar el valor del input de total de días con el valor devuelto por el controlador
                $("#TotalDiasMes").val(totalDias);
            }
        });
    }
</script>