@model modelo.ViewModel.LicitacionViewModel
@{
    ViewBag.Title = "Detalles de Licitación";
    Layout = "~/Views/Shared/_Popup.cshtml";
}
<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Detalles de Licitación</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="card card-outline card-info">
        <div class="card-header">
            <h3 class="card-title">Datos Generales</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-3 col-form-label">Empresa</label>
                <div class="col-sm-3">
                    @Model.RazonSocial
                </div>
                <label for="inputEmail3" class="col-sm-3 col-form-label">Autogenerado</label>
                <div class="col-sm-3">
                    @Model.Autogenerado
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-3 col-form-label">Tipo de Financiamiento</label>
                <div class="col-sm-3">
                    @Model.NombreTipoFinanciamiento
                </div>
                <label for="inputEmail3" class="col-sm-3 col-form-label">Monto a Financiar</label>
                <div class="col-sm-3">
                    @Model.Monto
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Registro de Activos</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive mt-1">
                <table class="table table-bordered table-hover dataTable dtr-inline" width="100%" id="grillaLicitacioActivo" data-order='[[ 0, "asc" ]]'>
                    <thead class="thead-light">
                        <tr>
                            <th>Nro Activo</th>
                            <th>Familia</th>
                            <th>Descripcion</th>
                            <th>Clasif.Cuenta</th>
                            <th>Monto</th>
                            <th>Modelo</th>
                            <th>Año</th>
                            <th>Marca</th>
                            <th>Proveedor</th>
                            <th>Factura</th>
                            <th>Motor</th>
                            <th>Chasis</th>
                            <th>Patente</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Registro de Ofertas</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive mt-1">
                <table class="table table-bordered table-hover dataTable dtr-inline" width="100%" id="grillaOferta" data-order='[[ 0, "asc" ]]'>
                    <thead class="thead-light">
                        <tr>
                            <th>Entidad Financiera</th>
                            <th>Tasa Mensual Ofrecida</th>
                            <th>Tasa Anual Ofrecida</th>
                            <th>Plazo (meses)</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cerrar</button>
</div>
<script>
        $(document).ready(function () {
            initTableActivo();
            initTableOferta()
        });

    function initTableActivo() {
        var buttonCommon = {
            text: 'Exportar a Excel',
            title: 'ACTIVOS ',
            extend: 'excelHtml5',
            exportOptions: {
                columns: "thead th:not(.noExport)"
            }
        };
        var table = $('#grillaLicitacioActivo').DataTable({
            buttons: [
                $.extend(true, {}, buttonCommon, {
                    filename: "Activos",
                    sheetName: "Activos"
                })
            ],
            "retrieve": true,
            'ajax': {
                "type": "POST",
                "url": '/Licitacion/ListaActivoLicitacion_Read/',
                "data": function (d) {
                    d.idLicitacion = "@Model.IdLicitacion";
                },
                "dataSrc": ""
            },
            columnDefs: [
                { targets: '_all', className: 'align-middle' },
                {
                    targets: [4],
                    render: function (data, type, row) {
                        var numFormt = "";
                        if (data != null) {
                            var num = data.toString();
                            numFormt = SeparadorMiles(num);
                        }
                        return numFormt;
                    }
                }
            ],
            columns: [
                { "data": "NumeroInterno" },
                { "data": "Familia" },
                { "data": "Descripcion" },
                { "data": "NombreCuenta" },
                { "data": "Valor" },
                { "data": "Modelo" },
                { "data": "Anio" },
                { "data": "Marca" },
                { "data": "NombreProveedor" },
                { "data": "NumeroFactura" },
                { "data": "Motor" },
                { "data": "Chasis" },
                { "data": "Patente" }
            ]
        });
        return table;
    }


    function initTableOferta() {
        var table = $('#grillaOferta').DataTable({
            "retrieve": true,
            'ajax': {
                "type": "POST",
                "url": '/Licitacion/ListaLicitacionOferta_Read/',
                "data": function (d) {
                    d.idLicitacion = "@Model.IdLicitacion";
                },
                "dataSrc": ""
            },
            columnDefs: [
                { targets: '_all', className: 'align-middle' },
                {
                    targets: [3],
                    render: function (data, type, row) {
                        var numFormt = "";
                        if (data != null) {
                            var num = data.toString();
                            numFormt = SeparadorMiles(num);
                        }
                        return numFormt;
                    }
                }
            ],
            columns: [
                { "data": "NombreBanco" },
                { "data": "TasaMensual" },
                { "data": "TasaAnual" },
                { "data": "Plazo" }
            ]
        });

        return table;
    }

</script>
