@model modelo.Models.Local.CategoriaRechazo
@{
    ViewBag.Title = "Crear Categorias";
}
@{
    Layout = "~/Views/Shared/_Popup.cshtml";
}
@using (Ajax.BeginForm("CreateCategoriaRechazo", "Administracion", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "post",
    OnSuccess = "Success_dl",
    OnFailure = "Failure_dl"

}, new { id = "frmEdit", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.IdCategoriaRechazo);
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nueva Categoria</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="ml-2">
            <div class="form-group form-group-sm row">
                <label for="Categoria Rechazo" class="col-sm-3 col-form-label col-form-label-sm">Nombre Categoria</label>
                <div class="col-6">
                    @Html.EditorFor(model => model.DescCategoriaRechazo, new { htmlAttributes = new { @class = "form-control form-control-sm required" } })
                </div>
            </div>
            <div class="form-group form-group-sm row">
                <label for="IdTipoRechazo" class="col-sm-3 col-form-label col-form-label-sm">Tipo Rechazo</label>
                <div class="col-6">
                    @Html.DropDownList("IdTipoRechazo", (SelectList)ViewData["listaRechazo"], "--Seleccione Tipo Rechazo--", htmlAttributes: new { @class = "form-control form-control-sm required" })
                </div>
            </div>
            <div class="form-group form-group-sm row">
                <label for="Estado" class="col-sm-3 col-form-label col-form-label-sm">Estado</label>
                <div class="col-6">
                    @Html.CheckBoxFor(model => model.Activo, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                    <label class="" for="Activo">Activo</label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary btn-sm">Crear</button>
    </div>
}
<script>
    $(document).ready(function () {
        $('#frmEdit').validate({
            debug: false,
            errorElement: "em",
            errorContainer: $("#warning")
        });
        window.top.esconderCargando();
    });

    function Success_dl(data) {
        esconderCargando();
        if (data.Estado == "0") {
            toastr.success(data.Mensaje);
            $('#modal-registro').modal('hide');
            RefreshLista();
        }
        else {
            toastr.error(data.Mensaje);
        }
    }
    function Failure_dl(data) {
        esconderCargando();
        toastr.error(data.Mensaje);
        $('#modal-registro').modal('hide');
    }
</script>
