@model modelo.Models.Local.Empresa
@{
    ViewBag.Title = (Model.IdEmpresa > 0) ? "Editar Empresa" : "Nueva Empresa";
    ViewBag.ValueBoton = (Model.IdEmpresa > 0) ? "Editar" : "Crear";
}
@{
    Layout = "~/Views/Shared/_Popup.cshtml";
}
<!-- Bootstrap4 Duallistbox -->
<link rel="stylesheet" href="~/Plantilla/AdminLTE/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css">
<script src="~/Plantilla/AdminLTE/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.js"></script>
@using (Ajax.BeginForm("Create", "Empresa", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "post",
    OnSuccess = "Success_dl",
    OnFailure = "Failure_dl"

}, new { id = "frmEdit", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.IdEmpresa);
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="color:black"><i class="fas fa-file-contract"></i> @ViewBag.Title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="ml-2">
            <div class="form-group form-group-sm row">
                <label for="RazonSocial" class="col-sm-3 col-form-label col-form-label-sm">Razón Social</label>
                <div class="col-6">
                    @Html.EditorFor(model => model.RazonSocial, new { htmlAttributes = new { @class = "form-control form-control-sm required" } })
                </div>
            </div>
            <div class="form-group form-group-sm row">
                <label for="IdTributario" class="col-sm-3 col-form-label col-form-label-sm">ID Tributario</label>
                <div class="col-6">
                    @Html.EditorFor(model => model.IdTributario, new { htmlAttributes = new { @class = "form-control form-control-sm required" } })
                </div>
            </div>
            <div class="form-group form-group-sm row">
                <label for="BaseSoftland" class="col-sm-3 col-form-label col-form-label-sm">Base SoftLand</label>
                <div class="col-6">
                    @Html.EditorFor(model => model.BaseSoftland, new { htmlAttributes = new { @class = "form-control form-control-sm required" } })
                </div>
            </div>
            <div class="form-group form-group-sm row">
                <label for="AliasEmpresa" class="col-sm-3 col-form-label col-form-label-sm">Alias Empresa</label>
                <div class="col-6">
                    @Html.EditorFor(model => model.AliasEmpresa, new { htmlAttributes = new { @class = "form-control form-control-sm required" } })
                </div>
            </div>

            <div class="form-group form-group-sm row">
                <label for="IdTributario" class="col-sm-3 col-form-label col-form-label-sm">Estado</label>
                <div class="col-6">
                    @Html.CheckBoxFor(model => model.Activo, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                    <label class="" for="Activo">Activo</label>
                </div>
            </div>

        </div>
        <div class="ml-2">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label>Empresas Relacionadas</label>
                        <select class="duallistbox required" id="empresas" multiple="multiple" name="empresas">
                            @if (ViewData["listaEmpresas"] != null)
                            {
                                foreach (var item in ViewData["listaEmpresas"] as List<modelo.ViewModel.RetornoGenerico>)
                                {
                                    var select = "";
                                    if (item.Seleccionado == true)
                                    { select = " Selected "; }
                                    <option value="@item.Id" @select>@item.Nombre</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

   
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary btn-sm">@ViewBag.ValueBoton</button>
    </div>
}
<script>
    $(document).ready(function () {
        $('#empresas').bootstrapDualListbox({
            preserveSelectionOnMove: 'moved',
            moveOnSelect: true,
            nonSelectedFilter: '',
            showFilterInputs: false
        });
        $('#frmEdit').validate({
            debug: false,
            errorElement: "em",
            errorContainer: $("#warning")
        });
        window.top.esconderCargando();
    });

    function Success_dl(data) {
        esconderCargando();
        if (data.Estado == "0") {
            toastr.success(data.Mensaje);
            $('#modal-registro').modal('hide');
            RefreshLista();
        }
        else {
            toastr.error(data.Mensaje);
        }
    }
    function Failure_dl(data) {
        esconderCargando();
        $.notify(data.Message, "error");
        $('#modal-registro').modal('hide');
    }
    function Success(data) {
        if (data.Estado == "0") {
            $.notify(data.Mensaje, "success");
            RefreshLista();
        }
        else {
            $.notify(data.Mensaje, "error");
        }
    }
</script>
