@model modelo.ViewModel.PolizaViewModel
@{
    ViewBag.Title = "Registrar Póliza de Seguro";
    Layout = "~/Views/Shared/_Popup.cshtml";
}

<div class="card-body">
    @using (Ajax.BeginForm("GrabarSeguro", "Seguro", new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "post",
        OnSuccess = "Success_dl",
        OnFailure = "Failure_dl"

    }, new { id = "frmPoliza", @class = "form-horizontal" }))
    {
        <input type="hidden" name="idPoliza" id="idPolizaA" value="@Model.IdPoliza" />
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Empresa</label>
            <div class="col-sm-2">
                @Html.DropDownList("idEmpresa", (SelectList)ViewData["listaEmpresa"], "--Seleccione Empresa--", htmlAttributes: new { @class = "form-control form-control-sm required" })
            </div>
            <label for="inputEmail3" class="col-sm-2 col-form-label">Número Poliza</label>
            <div class="col-sm-2">
                <input type="text" class="form-control form-control-sm required" name="NumeroPoliza" id="NumeroPoliza" value="@Model.NumeroPoliza" />
            </div>
            <label for="inputEmail3" class="col-sm-2 col-form-label">Tipo de Seguro</label>
            <div class="col-sm-2">
                @Html.DropDownList("idTipoSeguro", (SelectList)ViewData["listaTipoSeguro"], "--Seleccione Tipo Seguro--", htmlAttributes: new { @class = "form-control form-control-sm required" })
            </div>
        </div>
        <div class="form-group row">

            <label for="inputEmail3" class="col-sm-2 col-form-label">Empresa aseguradora</label>
            <div class="col-sm-2">
                @Html.DropDownList("idEmpresaAseguradora", (SelectList)ViewData["listaEmpresaAseguradora"], "--Seleccione Empresa Aseguradora--", htmlAttributes: new { @class = "form-control form-control-sm required" })
            </div>
            <label for="inputEmail3" class="col-sm-2 col-form-label">Monto asegurado</label>
            <div class="col-sm-2">
                <input type="text" class="form-control form-control-sm required numberMiles" name="MontoAsegurado" id="MontoAsegurado" value="@Model.MontoAsegurado" />
            </div>
            <label for="inputEmail3" class="col-sm-2 col-form-label">Prima mensual</label>
            <div class="col-sm-2">
                <input type="text" class="form-control form-control-sm required" name="PrimaMensual" id="PrimaMensual" value="@Model.PrimaMensual" />
            </div>
        </div>
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Número pagos</label>
            <div class="col-sm-2">
                <input type="text" class="form-control form-control-sm required" name="NumeroPagos" id="NumeroPagos" value="@Model.NumeroPagos" />
            </div>
            <label for="inputEmail3" class="col-sm-2 col-form-label">Tipo de moneda</label>
            <div class="col-sm-2">
                @Html.DropDownList("idTipoMoneda", (SelectList)ViewData["listaTipoMoneda"], "--Seleccione Tipo Moneda--", htmlAttributes: new { @class = "form-control form-control-sm required" })
            </div>
            <label for="inputEmail3" class="col-sm-2 col-form-label">Fecha venc. seguro</label>
            <div class="col-sm-2">
                <input type="text" class="form-control form-control-sm required classFecha" name="FechaVencimiento" id="FechaVencimiento" value="@Model.FechaVencimientoStr" />
            </div>
        </div>
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Beneficiario</label>
            <div class="col-sm-2">
                <input type="text" class="form-control form-control-sm required" name="Beneficiario" id="Beneficiario" value="@Model.Beneficiario" />
            </div>
            <label for="inputEmail3" class="col-sm-2 col-form-label">RUT beneficiario</label>
            <div class="col-sm-2">
                <input type="text" class="form-control form-control-sm required" name="RutBeneficiario" id="RutBeneficiario" value="@Model.RutBeneficiario" />
            </div>
            <label for="inputEmail3" class="col-sm-2 col-form-label">Fecha envío bancos</label>
            <div class="col-sm-2">
                <input type="text" class="form-control form-control-sm required classFecha" name="FechaEnvioBanco" id="FechaEnvioBanco" value="@Model.FechaEnvioBancoStr" />
            </div>
        </div>
        <div class="card-footer">
            <button type="button" onclick="Volver()" class="btn btn-secondary btn-sm" data-dismiss="modal">Volver</button>
            <button type="button" name="btnCrear" id="btnCrear" onclick="GrabarPoliza()" class="btn btn-primary btn-sm float-right">@Model.TituloBoton</button>
        </div>
    }
    @if (Model.ExistePoliza == "S")
    {
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Búsqueda de Activos</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-12 col-form-label">A continuación registre el detalle de activos cubiertos por la Póliza</label>
                </div>
                <div class="form-group row">
                    <div class="col-sm-1">
                        <nav class="navbar navbar-light mb-1" style="background-color: #e3f2fd;">
                            <div class="form-inline my-1 my-lg-0">
                                <button class="btn btn-primary btn-sm justify-content-end" type="button" onclick="AsociarActivo()" data-toggle="modal" data-target="#ModalAsociarActivo"><i class="fa fa-plus"></i>Buscar Activo</button>
                            </div>
                        </nav>
                    </div>
                    <div class="col-sm-10">
                    </div>
                    <div class="col-sm-1">
                        <nav class="navbar navbar-light mb-1" style="background-color: #e3f2fd;">
                            <div class="form-inline my-1 my-lg-0">
                                <button class="btn btn-primary btn-sm justify-content-end" type="button" data-toggle="modal" data-target="#cargamasiva"><i class="fa fa-plus"></i>Carga Masiva</button>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="table-responsive mt-1">
                    <table class="table table-bordered table-hover dataTable dtr-inline" width="100%" id="grillaPolizaActivo" data-order='[[ 0, "asc" ]]'>
                        <thead class="thead-light">
                            <tr>
                                <th class="no-sort" width="3%"><i class="far fa-eye"></i></th>
                                <th>Cod. Interno</th>
                                <th>Tipo Activo</th>
                                <th>Estado</th>
                                <th>Descripcion</th>
                                <th>Patente</th>
                                <th>Marca</th>
                                <th>Modelo</th>
                                <th>Motor</th>
                                <th>Chasis</th>
                                <th>Año</th>
                                <th>Grupo</th>
                                <th>Sub-grupo</th>
                                <th>Val. Compra</th>
                                <th>Fec. Ing.</th>
                                <th>Glosa</th>
                                <th>Fec. Baja</th>
                                <th>Leasing</th>
                                <th>Término Leas.</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#ModalVerActivo"><i class="far fa-eye"></i></button></td>
                                <td>00253</td>
                                <td>Maquinaria</td>
                                <td>Activo</td>
                                <td>Volquete Volvo</td>
                                <td>01-582-256-52</td>
                                <td>Volvo</td>
                                <td>V2</td>
                                <td>Diesel v2</td>
                                <td>A233</td>
                                <td>2010</td>
                                <td>A</td>
                                <td>A1</td>
                                <td>2,500,000.00</td>
                                <td>08/05/2012</td>
                                <td>Operativo</td>
                                <td></td>
                                <td>05849</td>
                                <td>01-08-2031</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</div>
<form name="frmPolizaAcc" id="frmPolizaAcc" method="post">
    <input type="hidden" name="idPoliza" id="idPolizaAcc" />
</form>

<div class="modal fade" id="ModalAsociarActivo" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div id="datosActivo"></div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        initTableActivo();
        $('.classFecha').datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true,
            language: "es"
        });
        $('#frmPoliza').validate({
            debug: false,
            errorElement: "em",
            errorContainer: $("#warning"),
            rules: {
                numeroPoliza: { required: true },
                idEmpresa: { required: true },
                idEmpresaAseguradora: { required: true },
                idTipoSeguro: { required: true },
                idTipoMoneda: { required: true },
                montoAsegurado: { required: true, digits: true },
                PrimaMensual: { required: true, number: true },
                NumeroPagos: { required: true, digits: true },
                fechaVencimiento: { required: true },
                beneficiario: { required: true },
                rutBeneficiario: { required: true },
                fechaEnvioBanco: { required: true }
            }
        });
    });

    function GrabarPoliza() {
        $(".numberMiles").each(function () {
            $(this).val($(this).val().toString().replace(/[$.]/g, ''))
        });
        if ($('#frmPoliza').valid()) {
            $(".tasa").each(function () {
                $(this).val($(this).val().toString().replace(/[$.]/g, ','))
            });
            $.ajax({
                type: 'POST',
                url: '/Seguro/GrabarSeguro/',
                data: $("#frmPoliza").serialize(),
                success: function (data) {
                    Success(data);
                },
                failure: function (data) {
                    Failure(data);
                }
            })

        }
    }

    function Success(data) {
        if (data.result.Estado == "0") {
            toastr.success(data.result.Mensaje);
            Refresh(data.result.idPoliza);
            //setTimeout(function () { Refresh(data.result.idLicitacion); }, 3000);
            //esconderCargando();
        }
        else {
            toastr.error(data.result.Mensaje);
        }
    }

    function Failure(data) {
        //esconderCargando();
        toastr.error(data.result.Mensaje);
    }

    function Refresh(idPoliza) {
        $('#idPolizaAcc').val(idPoliza);
        $("#frmPolizaAcc").attr("action", "/Seguro/RegistrarSeguro");
        $("#frmPolizaAcc").submit();
    }

    function AsociarActivo() {
        $.ajax({
            url: "/Seguro/ModalAsociarActivo",
            type: "Post",
            data: { idPoliza: $("#idPoliza").val() },
            beforeSend: function () {
                $("#datosActivo").html('<i class="fa fa-circle-o-notch fa-spin"></i> Cargando...');
            },
            success: function (data) {
                $("#datosActivo").empty();
                $("#datosActivo").html(data);
            }
        });
    }

    function EliminarActivo(idPolizaActivo) {
        a = confirm("Seguro de Eliminar el registro seleccionado?")
        if (a) {
            $.ajax({
                url: "/Seguro/DeleteAsociacionActivo",
                type: "Post",
                data: {
                    idPolizaActivo: idPolizaActivo
                },
                success: function (data) {
                    toastr.success(data.Mensaje);
                    RefreshListaActivo();
                },
                failure: function (data) {
                    toastr.error(data.Mensaje);
                }
            });
        }
    }

    function RefreshListaActivo() {
        var table = initTableActivo();
        table.ajax.reload(function (json) { });
    }

    function initTableActivo() {
        var buttonCommon = {
            text: 'Exportar a Excel',
            title: 'ACTIVOS ',
            extend: 'excelHtml5',
            exportOptions: {
                columns: "thead th:not(.noExport)"
            }
        };
        var table = $('#grillaPolizaActivo').DataTable({
            buttons: [
                $.extend(true, {}, buttonCommon, {
                    filename: "Activos",
                    sheetName: "Activos"
                })
            ],
            "retrieve": true,
            'ajax': {
                "type": "POST",
                "url": '/Seguro/ListaActivoPoliza_Read/',
                "data": function (d) {
                    d.idPoliza = $('#idPoliza').val();
                },
                "dataSrc": ""
            },

            columns: [
                {
                    "mData": null,
                    "bSortable": false,
                    "mRender": function (o, type, row) {
                        var acciones = '';
                        //if (o.Editable == true) {
                            var acciones = '<button class="btn btn-primary btn-sm" type="button" onclick="EliminarActivo(' + o.IdPolizaActivo + ')"><i class="far fa-trash-alt"></i></button>';
                        //}
                        return acciones;
                    }
                },
                { "data": "NumeroInterno" },
                { "data": "Familia" },
                { "data": "NombreEstado" },
                { "data": "Descripcion" },
                { "data": "Patente" },
                { "data": "Marca" },
                { "data": "Modelo" },
                { "data": "Motor" },
                { "data": "Chasis" },
                { "data": "Anio" },
                { "data": "Grupo" },
                { "data": "SubGrupo" },
                { "data": "Valor" },
                { "data": "FechaRegistroStr" },
                { "data": "Glosa" },
                { "data": "FechaRegistroStr" },
                { "data": "NumeroLeasing" },
                { "data": "FechaBajaStr" }
            ]
        });
        return table;
    }

    function Volver() {
        url = "/Seguro/ListaSeguro";
        location.href = url;
    }

</script>