@{
    ViewBag.Title = "Reporte Deuda Leasing";

    var NombreMenu = "ConsolidadoDeudaLeasing";
    tesoreria.Helper.Seguridad seguridad = System.Web.HttpContext.Current.Session["Seguridad"] as tesoreria.Helper.Seguridad;
    var TieneCrear = seguridad.TienePermiso(NombreMenu, tesoreria.Helper.TipoAcceso.Crear);
    var TieneEditar = seguridad.TienePermiso(NombreMenu, tesoreria.Helper.TipoAcceso.Editar);
    var TieneEliminar = seguridad.TienePermiso(NombreMenu, tesoreria.Helper.TipoAcceso.Eliminar);
}
<div class="d-sm-flex align-items-center justify-content-between">
    <h5 class="h5 mb-0 text-gray-800">Hola @seguridad.Nombre, </h5>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Home/Inicio">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Inicio</li>
    </ol>
</div>
<h5 class="h5 mb-0 text-gray-800">Acá puedes revisar el reporte Consolidado de tus deudas Leasing a la Fecha</h5>
<br>
<div class="row">
    <div class="col-md-12">
        <div class="card card-outline card-info">

                <div class="card-header">
                    <h3 class="card-title">Filtros</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-2">
                            @Html.DropDownList("IdEmpresaBus", (SelectList)ViewData["listaEmpresa"], "--Seleccione Empresa--", htmlAttributes: new { @class = "form-control form-control-sm" })
                        </div>
                        <div class="col-sm-2">
                            @Html.DropDownList("IdBancoBus", (SelectList)ViewData["listaBancos"], "--Seleccione Banco--", htmlAttributes: new { @class = "form-control form-control-sm" })
                        </div>
                        <div class="col-sm-2">
                            <input type="number" class="form-control form-control-sm" placeholder="Año" id="anioBus" name="anioBus" value="@DateTime.Now.Year">
                        </div>
                        <div class="col-sm-2">
                            @Html.DropDownList("IdMesBus", (SelectList)ViewData["listaMes"], "--Seleccione Mes--", htmlAttributes: new { @class = "form-control form-control-sm" })
                            
                        </div>
                        <div class="col-sm-2">
                            <input type="text" name="valorUfBus" id="valorUfBus" value="" class="form-control form-control-sm filtroRepote numberMiles" />
                        </div>
                        <div class="col-sm-2">
                            <div class="row justify-content-end">
                                <button class="btn btn-info btn-sm " type="button" onclick="RefreshLista()"><i class="fa fa-cog"></i> Generar</button>
                            </div>
                        </div>
                    </div>
                </div>

        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Detalle</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover dataTable dtr-inline" width="100%" id="grillaEmpresa" data-order='[[ 0, "asc" ]]'>
                        <thead class="thead-light">
                            <tr>
                                <th>Empresa</th>
                                <th>Banco</th>
                                <th>Núm. Ope./Contrato</th>
                                <th>Familia</th>
                                <th>Bien Adquirido</th>
                                <th>Total Rentas</th>
                                <th>Inicio</th>
                                <th>Op. Compra</th>
                                <th>Monto Inicial Deuda</th>
                                <th>Tasa Anual(%)</th>
                                <th>Tipo Moneda</th>
                                <th>Cuota Neta</th>
                                <th>IVA</th>
                                <th>Cuota Bruta</th>
                                <th>Saldo Insoluto</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
    <!-- DataTable with Hover -->
<script>
    function CargaUfMes() {
        $.ajax({
            url: "/Bancos/UfUltimoDiaMes",
            type: "Get",
            data: {
                IdEmpresa: $("#IdEmpresaBus").val(),
                IdBanco: $("#IdBancoBus").val(),
                anio: $("#anioBus").val(),
                IdMes: $("#IdMesBus").val(),
                valorUf: $("#valorUfBus").val()
            },
            beforeSend: function () {

            },
            success: function (data) {
                $("#valorUfBus").val(data.Valor.toString().replace(/[$.]/g, ','));
                initTable();
            }
        });
    }
    $(document).ready(function () {
        AbrirMenu("@NombreMenu");
        CargaUfMes();
        $("#IdMesBus").change(CargaUfMes);        
        moment.locale('es');
        $('#fecha').daterangepicker({
            autoUpdateInput: false,
            "locale": {
                format: "DD/MM/YYYY",
                "separator": " - ",
                "applyLabel": "Aplicar",
                "cancelLabel": "Limpiar",
                "fromLabel": "DE",
                "toLabel": "HASTA",
                "customRangeLabel": "Personalizar",
                "daysOfWeek": [
                    "Dom",
                    "Lun",
                    "Mar",
                    "Mie",
                    "Jue",
                    "Vie",
                    "Sáb"
                ],
                "monthNames": [
                    "Enero",
                    "Febrero",
                    "Marzo",
                    "Abril",
                    "Mayo",
                    "Junio",
                    "Julio",
                    "Agosto",
                    "Septiembre",
                    "Octubre",
                    "Noviembre",
                    "Diciembre"
                ],
                "firstDay": 1
            }
        });

        $('#fecha').on('apply.daterangepicker', function (ev, picker) {
            $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
            //RefreshLista();
        });


        $('#fecha').on('cancel.daterangepicker', function (ev, picker) {
            $(this).val('');
            //RefreshLista();
        });
        $('#selectEmpresa').select2({
            placeholder: '---Seleccione Empresa---',
            language: "es",
            allowClear: true,
        });

    });
    function RefreshLista() {
        var table = initTable();
        table.ajax.reload(function (json) { });
    }
    function initTable() {
        var buttonCommon = {
            text: 'Exportar a Excel',
            title: 'Consolidado Leasing',
            extend: 'excelHtml5',
            exportOptions: {
                columns: "thead th:not(.noExport)",
                format: {
                    body: function (data, row, column, node) {
                        var texto = node.innerText;
                        texto = (column > 0) ? texto.replace(/[$.]/g, '') : texto;
                        texto = (column > 0) ? texto.replace(/[$,]/g, '.').replace(/[$~]/g, '.') : texto;
                        return texto;
                    }
                }
            }
        };
        var table = $('#grillaEmpresa').DataTable({
            buttons: [
                $.extend(true, {}, buttonCommon, {
                    filename: "Consolidado_Leasing"
                })
            ],
            "retrieve": true,
            'ajax': {
                "type": "POST",
                "url": '/Reportes/ConsolidadoDeudaLeasing_Read/0',
                "data": function (d) {
                    d.IdEmpresaBus = $("#IdEmpresaBus").val();
                    d.IdBancoBus = $("#IdBancoBus").val();
                    d.anioBus = $("#anioBus").val();
                    d.IdMesBus = $("#IdMesBus").val();
                    d.valorUf = $("#valorUfBus").val();
                },
                "dataSrc": ""
            },
            columnDefs: [
                { targets: '_all', className: 'align-middle' },
                {
                    targets: [6,7],
                    render: function (data) {
                        var fecha = DateDatatable(data);
                        return fecha;
                    }
                },
                {
                    targets: [5,8,9, 11,12,13,14],
                    render: function (data, type, row) {
                        var numFormt = "";
                        if (data != null) {
                            var num = data.toString();
                            numFormt = SeparadorMiles(num);
                        }
                        return numFormt;
                    }
                }
            ],
            columns: [
                { "data": "RazonSocial" },
                { "data": "NombreBanco" },
                { "data": "NumeroContrato" },
                { "data": "NombreFamilia" },
                { "data": "DescripcionActivo" },
                { "data": "Plazo" },
                { "data": "FechaInicio" },
                { "data": "FechaTermino" },
                { "data": "Total" },
                { "data": "TasaAnual" },                
                { "data": "NombreTipoMoneda" },
                { "data": "DeudaCuota" },
                { "data": "IVAMes" }, 
                { "data": "CuotaBruta" },
                { "data": "SaldoInsoluto" }
                   
            ]
        });

        return table;
    }

</script>