@{
    ViewBag.Title = "Amortizaciones de Leasing";
}
@{
    tesoreria.Helper.Seguridad seguridad = System.Web.HttpContext.Current.Session["Seguridad"] as tesoreria.Helper.Seguridad;
}

<div class="d-sm-flex align-items-center justify-content-between">
    <h5 class="h5 mb-0 text-gray-800">Amortizaciones Leasing</h5>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Home/Inicio">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Amortización</li>
        <li class="breadcrumb-item active" aria-current="page">Leasing</li>
    </ol>
</div>
<h6 class="h6 mb-0 text-gray-800">Acá puedes revisar el detalle de las Amortizaciones y generar el archivo de integración.</h6>
<br />
<div class="card card-outline card-info">
    <div class="card-header">
        <h3 class="card-title">Generar detalle de amortización</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">
                @Html.DropDownList("IdEmpresaFiltro", (SelectList)ViewData["listaEmpresa"], "--Seleccione Empresa--", htmlAttributes: new { @class = "form-control form-control-sm" })
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control form-control-sm" placeholder="Año" id="AnioFiltro" name="AnioFiltro" value="@DateTime.Now.Year">
            </div>
            <div class="col-md-2">
                @Html.DropDownList("IdMesFiltro", (SelectList)ViewData["listaMes"], null, htmlAttributes: new { @class = "form-control form-control-sm" })
            </div>
            <div class="col-md-2">

            </div>
            <div class="col-md-2">

            </div>
            <div class="col-md-2">
                <div class="row justify-content-end">
                    <button class="btn btn-info btn-sm " type="button" onclick="RefreshLista()"><i class="fa fa-search"></i> Generar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Detalle</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                
                <nav class="navbar navbar-light mb-1" style="background-color: #e3f2fd;">
                    <form name="frmDescargarBD" id="frmDescargarBD" method="post" action="/Amortizacion/DescargarCSVContable">
                        <input type="hidden" name="IdEmpresa" id="IdEmpresaCSV" value="" />
                        <input type="hidden" name="Anio" id="AnioCSV" value="" />
                        <input type="hidden" name="IdMes" id="IdMesCSV" value="" />
                        <input type="hidden" name="IdTipoContrato" id="IdTipoContratoCSV" value="@((int)tesoreria.Helper.TipoContrato.Leasing)" />
                        <div class="row my-2">
                            <div class="col-sm-4">
                                <input type="text" name="valorUf" id="valorUfCSV" value="" class="form-control form-control-sm filtroRepote numberMiles" />
                            </div>
                            <div class="col-sm-8">
                                <button class="btn btn-info btn-sm" type="button" name="btnDownload" id="btnDownload" onclick="DescargarCsvContable()"><i class="fa fa-download"></i> Descargar Planilla para Softland</button>
                            </div>
                        </div>
                    </form>                    
                </nav>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover dataTable dtr-inline" width="100%" id="grillaReporte" data-order='[[ 0, "asc" ]]'>
                        <thead class="thead-light">
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th align="center">Corriente</th>
                                <th align="center" colspan="4">No Corriente</th>
                                <th></th>
                            </tr>
                            <tr>
                                <th class="no-sort" width="3%"><i class="fa fa-book-open"></i></th>
                                <th class="no-sort" width="3%"><i class="far fa-eye"></i></th>
                                <th>Empresa</th>
                                <th>Nombre Acreedor</th>
                                <th>Número</th>
                                <th>Moneda</th>
                                <th>Tasa de Interés</th>
                                <th>Total</th>
                                <th>De 2 a 3 años (M$)</th>
                                <th>De 4 a 5 años (M$)</th>
                                <th>5 a más años (M$)</th>
                                <th>Total (M$)</th>
                                <th>Cpbte. T</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            <tr>
                                <th colspan="7" class="text-center">Total</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>

            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="ModalAmortizacion" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="modal-otroscreditos" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div id="datosAmortizacion"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalContrato" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="modal-creditoorigen" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div id="datosContrato"></div>
        </div>
    </div>
</div>
<form name="frmAmortizacion" id="frmAmortizacion" method="post">
    <input type="hidden" name="IdContrato" id="IdContrato" />
</form>
<div class="modal fade" id="modal-comprobante" tabindex="-1" role="dialog" aria-labelledby="exampleModalComprobante" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div id="datosComprobante"></div>
        </div>
    </div>
</div>
<script>
    function CargaUfMes() {
        $.ajax({
            url: "/Bancos/UfUltimoDiaMes",
            type: "Get",
            data: {
                IdEmpresa: $("#IdEmpresaFiltro").val(),
                IdBanco: $("#IdBancoBus").val(),
                anio: $("#AnioFiltro").val(),
                IdMes: $("#IdMesFiltro").val(),
                valorUf: $("#valorUfCSV").val()
            },
            beforeSend: function () {

            },
            success: function (data) {
                $("#valorUfCSV").val(data.Valor.toString().replace(/[$.]/g, ','));   
                $(".numberMiles").each(function () {
                    $(this).val(SeparadorMilesInput($(this).val().toString()))
                });
            }
        });
    }
    $(document).ready(function () {
        AbrirMenu("Leasing");
        CargaUfMes();
        $("#IdMesFiltro").change(CargaUfMes);
        RefreshLista();
    });
    function RefreshLista() {
        var table = initTable();
        table.ajax.reload(function (json) { },false);
    }

    function Amortizacion(idContrato) {
        $('#IdContrato').val(idContrato);
        url = "/Amortizacion/AmortizacionContrato";
        $('#frmAmortizacion').attr('action', url);
        $('#frmAmortizacion').submit();
        //$.ajax({
        //    url: "/Amortizacion/ModalAmortizacion",
        //    type: "Post",
        //    data: { idContrato: idContrato },
        //    beforeSend: function () {
        //        $("#datosAmortizacion").html('<i class="fa fa-circle-o-notch fa-spin"></i> Cargando...');
        //    },
        //    success: function (data) {
        //        $("#datosAmortizacion").empty();
        //        $("#datosAmortizacion").html(data);
        //    }
        //});
    }
    function DescargarCsvContable() {       
        $('#IdEmpresaCSV').val($('#IdEmpresaFiltro').val());
        $('#AnioCSV').val($('#AnioFiltro').val());
        $('#IdMesCSV').val($('#IdMesFiltro').val());
        $('#frmDescargarBD').submit();
    }
    function Contrato(idContrato) {
        $.ajax({
            url: "/Amortizacion/ModalContrato",
            type: "Post",
            data: { idContrato: idContrato },
            beforeSend: function () {
                $("#datosContrato").html('<i class="fa fa-circle-o-notch fa-spin"></i> Cargando...');
            },
            success: function (data) {
                $("#datosContrato").empty();
                $("#datosContrato").html(data);
            }
        });
    }

    function initTable() {
        var buttonCommon = {
            text: 'Exportar a Excel',
            title: 'Amortizaciones de Leasing',
            extend: 'excelHtml5',
            exportOptions: {
                columns: "thead th:not(.noExport)",
                format: {
                    body: function (data, row, column, node) {
                        var texto = node.innerText;
                        texto = (column > 0) ? texto.replace(/[$.]/g, '') : texto;
                        texto = (column > 0) ? texto.replace(/[$,]/g, '.').replace(/[$~]/g, '.') : texto;
                        return texto;
                    }
                }
            }
        };
        var table = $('#grillaReporte').DataTable({
            buttons: [
                $.extend(true, {}, buttonCommon, {
                    filename: "Amortizaciones_Leasing"
                })
            ],
            "retrieve": true,
            processing: true,
            'ajax': {
                "type": "POST",
                "url": '/Amortizacion/ListaContrato_Read/',
                "data": function (d) {
                    d.idTipoContrato = "@((int)tesoreria.Helper.TipoContrato.Leasing)";
                    d.IdEmpresa = $('#IdEmpresaFiltro').val();
                    d.Anio = $('#AnioFiltro').val();
                    d.IdMes = $('#IdMesFiltro').val();
                },
                "dataSrc": ""
            },
            columnDefs: [
                { targets: '_all', className: 'align-middle' },
                {
                    targets: [6,7,8,9,10,11],
                    render: function (data, type, row) {
                        var numFormt = "";
                        if (data != null) {
                            var num = data.toString();
                            numFormt = SeparadorMiles(num);
                        }
                        return numFormt;
                    }
                }
            ],
            columns: [
                {
                    "mData": null,
                    "bSortable": false,
                    "mRender": function (o, type, row) {
                        var boton = '';
                        boton = '<button class="btn btn-info btn-sm" type="button" onclick="Amortizacion(' + o.IdContrato + ')"><i class="fa fa-book-open"></i></button> ';
                        return boton;
                    }
                },
                {
                    "mData": null,
                    "bSortable": false,
                    "mRender": function (o, type, row) {
                        var boton = '';
                        boton = '<button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#ModalContrato" onclick="Contrato(' + o.IdContrato + ')"><i class="far fa-eye"></i></button> ';
                        return boton;
                    }
                },
                { "data": "Empresa" },
                { "data": "Acreedor" },
                { "data": "NumeroContrato" },
                { "data": "Moneda" },
                { "data": "TasaMensual" },
                { "data": "Total" },
                { "data": "Total1" },
                { "data": "Total2" },
                { "data": "Total3" },
                { "data": "TotalGeneral" },
                {
                    mData: "CpbNumTraspaso",
                    mRender: function (data, type, row) {
                        var boton = '';
                        if (data != null && data != "") {
                            boton = '<a href="JavaScript:ModalComprobante(\'' + data + '\',\'' + row.CpbAnoTraspaso + '\',\'' + row.BaseSoftland + '\');"> <i class="fa fa-file-alt"></i> ' + data + '</a>';
                        }
                        else {
                            boton = '<button class="btn btn-warning btn-xs" title="Sincronizar Comprobantes" onclick="SyncCpbtes(' + row.IdContrato + ')"><i class="fa fa-sync"></i></button>';
                        }
                        return boton;
                    }
                }
            ],
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api(), data;
                // Remove the formatting to get integer data for summation
                var intVal = function (i) {
                    return typeof i === 'string' ? i.replace(/[\$,]/g, '') * 1 : typeof i === 'number' ? i : 0;
                };
                for (var it = 7; it <= 11; it++) {
                    // Total over all pages
                    var total = api.column(it).data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Total over this page
                    pageTotal = api.column(it, { page: 'current' }).data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);
                    var pageTotalFormat = SeparadorMiles(redondearDecimales(pageTotal, 2).toString());
                    var totalFormat = SeparadorMiles(redondearDecimales(total, 2).toString());
                    // Update footer
                    $(api.column(it).footer()).html(totalFormat);
                }
            }
        });

        return table;
    }
    function SyncCpbtes(IdContrato) {
        $.ajax({
            url: '/Amortizacion/SynContratoCpbte',
            data: { IdContrato: IdContrato },
            type: 'POST',
            beforeSend: function () {
                mostrarCargando();
            },
            success: function (data) {
                esconderCargando();
                if (data.Estado == "0") {
                    RefreshLista();
                    toastr.success(data.Mensaje);
                }
                else {
                    toastr.error(data.Mensaje);
                }
            },
            error: function (data) {
                toastr.error(data.Mensaje);
                esconderCargando();
            }
        });
    }

    function ModalComprobante(CpbNum, CpbAno, baseSoftland) {
        var tmpUrl = "/CpteSoftland/ComprobanteSoftland";
        $("#datosComprobante").empty();
        $("#datosAsociar").empty();
        $('#modal-comprobante').modal('show');
        $.ajax({
            url: tmpUrl,
            type: "Get",
            data: { CpbNum: CpbNum, CpbAno: CpbAno, baseSoftland: baseSoftland, deModal: false },
            beforeSend: function () {
                $("#datosComprobante").html('<i class="fa fa-circle-o-notch fa-spin"></i> Cargando...');
                mostrarCargando();
            },
            success: function (data) {
                $("#datosComprobante").empty();
                $("#datosComprobante").html(data);
                esconderCargando();
            }
        });
    }
</script>