@model modelo.ViewModel.MutuoViewModel
@{
    ViewBag.Title = "Nuevo Prestamo";
}
@{
    Layout = "~/Views/Shared/_Popup.cshtml";
}
<div class="modal-header">
    <h5 class="modal-title" id="addParcela">@ViewBag.Title</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="card-body">
    @using (Ajax.BeginForm("GrabarNuevoPrestamo", "Mutuo", new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "post",
        OnSuccess = "Success_dl",
        OnFailure = "Failure_dl"

    }, new { id = "frmAddNuevoPrestamo", @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="idMutuo" id="idMutuoA" value="@Model.IdMutuo" />

        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-3 col-form-label">Entidad que Financia </label>
            <div class="col-sm-3">
                @Model.EmpresaFinancia
            </div>
            <label for="inputEmail3" class="col-sm-3 col-form-label">Entidad Receptora</label>
            <div class="col-sm-3">
                @Model.EmpresaReceptora
            </div>
        </div>
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Monto Prestamo ($)</label>
            <div class="col-sm-2">
                <input type="text" class="form-control form-control-sm required numberMiles" name="montoPrestamo" id="montoPrestamo" />
            </div>
        </div>
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Fecha Prestamo</label>
            <div class="col-sm-2">
                <input type="text" class="form-control form-control-sm classFecha required" name="fechaPrestamo" id="fechaPrestamo" />
            </div>
        </div>

    }
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cerrar</button>
    <button type="button" name="btnGrabar" id="btnGrabar" onclick="GrabarNuevoPrestamo()" class="btn btn-primary btn-sm float-right"><i class="fa fa-save"></i> Grabar Prestamo</button>
</div>
<script>
    $(document).ready(function () {
        $('.classFecha').datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true,
            language: "es"
        });
        $('#frmAddNuevoPrestamo').validate({
            debug: false,
            errorElement: "em",
            errorContainer: $("#warning"),
            rules: {
                MontoPrestamo: { required: true },
                fechaPrestamo: { required: true }
            }
        });
    });

    function GrabarNuevoPrestamo() {
        $(".numberMiles").each(function () {
            $(this).val($(this).val().toString().replace(/[$.]/g, ''))
        });
        if ($('#frmAddNuevoPrestamo').valid()) {
            $.ajax({
                type: 'POST',
                url: '/Mutuo/GrabarNuevoPrestamo/',
                data: $("#frmAddNuevoPrestamo").serialize(),
                success: function (data) {
                    Success(data);
                },
                failure: function (data) {
                    Failure(data);
                }
            })

        }
        $(".numberMiles").each(function () {
            $(this).val(SeparadorMilesInput($(this).val().toString()))
        })
    }

    function Success(data) {
        if (data.Estado == "0") {
            toastr.success(data.Mensaje);
            $('#ModalNuevoPrestamo').modal('hide');
            RefreshLista();
        }
        else {
            toastr.error(data.Mensaje);
        }
    }

    function Failure(data) {
        //esconderCargando();
        toastr.error(data.Mensaje);
    }


    function Cerrar() {
        $('#ModalNuevoPrestamo').modal('hide');
        RefreshLista();
    }

</script>
