@model modelo.ViewModel.MutuoViewModel
@{
    ViewBag.Title = "Nuevo Préstamo";
}
@{
    Layout = "~/Views/Shared/_Popup.cshtml";
}
<div class="modal-header">
    <h5 class="modal-title" id="addParcela">@ViewBag.Title</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="card">
       
        <div class="card-body">
            @using (Ajax.BeginForm("GrabarNuevoPrestamo", "Mutuo", new AjaxOptions
            {
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "post",
                OnSuccess = "Success_dl",
                OnFailure = "Failure_dl"

            }, new { id = "frmAddNuevoPrestamo", @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                <input type="hidden" name="idMutuo" id="idMutuoA" value="@Model.IdMutuo" />

                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 col-form-label">Entidad que Financia </label>
                    <div class="col-sm-9">
                        @Model.EmpresaFinancia
                    </div>
                    
                </div>
                <div class="form-group row">
                    
                    <label for="inputEmail3" class="col-sm-3 col-form-label">Entidad Receptora</label>
                    <div class="col-sm-9">
                        @Model.EmpresaReceptora
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 col-form-label">Monto Préstamo ($)</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control form-control-sm required numberMiles" name="montoPrestamo" id="montoPrestamo" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 col-form-label">Fecha Prestamo</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control form-control-sm classFecha required" name="fechaPrestamo" id="fechaPrestamo" />
                    </div>
                </div>

            }
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cerrar</button>
            <button type="button" name="btnGrabar" id="btnGrabar" onclick="GrabarNuevoPrestamo()" class="btn btn-primary btn-sm float-right"><i class="fa fa-save"></i> Grabar Préstamo</button>
        </div>
    </div>
    
    <div class="card card-outline card-info">
        <div class="card-header">
            <h3 class="card-title">Préstamos Registrados</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover dataTable dtr-inline table-sm" width="100%" id="grillaMutuoPrestamo" data-order='[[ 2, "desc" ]]'>
                    <thead class="thead-light">
                        <tr>
                            <th class="no-sort" width="3%"><i class="fa fa-trash"></i></th>                            
                            <th>Monto Préstamo</th>
                            <th>Fecha Préstamo</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.classFecha').datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true,
            language: "es"
        });
        $('#frmAddNuevoPrestamo').validate({
            debug: false,
            errorElement: "em",
            errorContainer: $("#warning"),
            rules: {
                MontoPrestamo: { required: true },
                fechaPrestamo: { required: true }
            }
        });
        initTableMutuoPrestamo();
    });

    function GrabarNuevoPrestamo() {
        $(".numberMiles").each(function () {
            $(this).val($(this).val().toString().replace(/[$.]/g, ''))
        });
        if ($('#frmAddNuevoPrestamo').valid()) {
            $.ajax({
                type: 'POST',
                url: '/Mutuo/GrabarNuevoPrestamo/',
                data: $("#frmAddNuevoPrestamo").serialize(),
                success: function (data) {
                    Success(data);
                },
                failure: function (data) {
                    Failure(data);
                }
            })

        }
        $(".numberMiles").each(function () {
            $(this).val(SeparadorMilesInput($(this).val().toString()))
        });
        
    }

    function Success(data) {
        if (data.Estado == "0") {
            toastr.success(data.Mensaje);
            $('#ModalNuevoPrestamo').modal('hide');
            RefreshLista();
        }
        else {
            toastr.error(data.Mensaje);
        }
    }

    function Failure(data) {
        //esconderCargando();
        toastr.error(data.Mensaje);
    }


    function Cerrar() {
        $('#ModalNuevoPrestamo').modal('hide');
        RefreshLista();
    }
    function RefreshListaPrestamo() {
        var table = initTableMutuoPrestamo();
        table.ajax.reload(function (json) { });
    }
    function initTableMutuoPrestamo() {
        var table = $('#grillaMutuoPrestamo').DataTable({
            "retrieve": true,
            'ajax': {
                "type": "POST",
                "url": '/Mutuo/ListaMutuoPrestamo_Read/',
                "data": function (d) {
                    d.IdMutuo = "@Model.IdMutuo";
                },
                "dataSrc": ""
            },
            columnDefs: [
                { targets: '_all', className: 'align-middle' },
                {
                    targets: [1],
                    render: function (data, type, row) {
                        var numFormt = "";
                        if (data != null) {
                            var num = data.toString();
                            numFormt = SeparadorMiles(num);
                        }
                        return numFormt;
                    }
                },
                {
                    targets: [2],
                    render: function (data) {
                        var fecha = DateDatatable(data);
                        return fecha;
                    }
                }
            ],
            columns: [
                {
                    "mData": "IdMutuoPrestamo",
                    "bSortable": false,
                    "mRender": function (data, type, row) {
                        var boton = '';                        
                        boton += '<button class="btn btn-danger btn-xs" title="Eliminar Préstamo" type="button" onclick="DeletePrestamo(' + data + ')"><i class="far fa-trash-alt"></i></button> ';
                        
                        return boton;
                    }
                },
                { "data": "MontoPrestamo" },
                { "data": "FechaPrestamo" },
                
            ]
        });

        return table;
    }
    function DeletePrestamo(IdMutuoPrestamo) {
        a = confirm("Seguro de Eliminar el registro seleccionado?")
        if (a) {
            $.ajax({
                url: "/Mutuo/DeleteMutuoPrestamo",
                type: "Post",
                data: {
                    IdMutuoPrestamo: IdMutuoPrestamo
                },
                success: function (data) {
                    toastr.success(data.Mensaje);
                    RefreshListaPrestamo();
                },
                failure: function (data) {
                    toastr.error(data.Mensaje);
                }
            });
        }
    }
</script>
